@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.music-player {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  background-color: var(--theme-color);
  box-shadow: 0 0 0.5rem 0 rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 3;

  .icon {
    width: 1.3rem;
    height: 1.3rem;
    fill: var(--white-color);
    opacity: 0.6;
  }

  &.playing .icon {
    opacity: 1;
    animation: spin 4s linear infinite;
  }
}
